.row{
  margin:0 auto;
  width:100%;
  max-width:73.75em; /* 1180 */;  
}
.form {
  padding: 19px 29px 29px;
  margin: 3em auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  @shadow:0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);
}

// Start poule system
// Phase 1
.poule{
  margin-bottom:20px;
  
  h2{
    margin-bottom:10px;
  }
  .poule-head {
    font-weight:700;
    border-bottom:solid 2px grey; 
    margin-bottom:15px;
  }
  
  .poule-game{
    border-bottom:solid 1px;
    padding-top:10px;
  }
  
  .col{
    float:left;
  }
  
  .match{
    width:60px;
  }
  
  .time,.venue,.team{
    width:150px;
  }
  
  .result{
    width:100px;
    
    input[type="number"]{
      width:80px;
    }
  }
}
